//========= GLOBAL SETTINGS ======== //


// Font: Roboto
// Farben: #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000

@font-face {
    font-family: robotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoBlack;
    src: url(../fonts/Roboto-Black.ttf);
}

body {
    width: 1440px;
    margin: 0 auto;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robotoRegular,sans-serif;
    color: #0b0c17;    
}

@import "variables.scss";
@import "mixins.scss";

//============= HEADER ==============//
header {
    display: block;
    background-image: url(../img/falling-person-withcloud.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    height: 70vh;

    // Logo section //
    #logo{
        display: flex;
        padding-left: 10px;
        padding-top: 3vh;

        #elephantLogo{
            width: 35px;
            margin-right: 1vh;
        }
    
        h2 {
            font-size: 1.3rem;
            font-family: robotoBlack;
            line-height:16px;
    
            span {
                font-size: 0.8rem;
                font-weight: bold;
            }
        }

    }

    // How To - Text section //
    
    #howTo {
        margin-left: 8vw;
        margin-top: 22vh;

        h1 {
            font-size: 4rem;
            font-family: robotoBlack;
        }
        #challenge {
            font-size: 1.2rem;
            margin-bottom: 8vh;
            margin-top: 1vh;
                img {
                    width: 30px;
                }
        }

        #seeMore {
            color: #ff3571;
            text-decoration: none;
            font-weight: bold;
            
        }
    }
}

//=============== MAIN PART ================//

/* BILDER COLLAGE */

#designExamples img {
    width: 100%;
}

/* EVERY IDEA SECTION */

#everyIdea {
    display: flex;
    margin: 0 auto;
    justify-content:baseline;
    width: 80%;

    #lightbulb {
        width: 40%;
        @include h2textStyle;
    }

    #lightbulbText {
        width: 60%;
    }
}

