@font-face {
  font-family: robotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: robotoBlack;
  src: url(../fonts/Roboto-Black.ttf);
}
body {
  width: 1440px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: robotoRegular, sans-serif;
  color: #0b0c17;
}

header {
  background-image: url(../img/falling-person-withcloud.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
}
header #logo {
  display: flex;
  padding-left: 2vw;
  padding-top: 3vh;
}
header #logo #elephantLogo {
  position: fixed;
  width: 35px;
}
header #logo h2 {
  font-size: 1.3rem;
  font-family: robotoBlack;
  line-height: 15px;
  margin-left: 50px;
}
header #logo h2 span {
  font-size: 0.6rem;
}
header #howTo {
  margin-left: 7vw;
  margin-top: 18vh;
  margin-bottom: 10vh;
}
header #howTo h1 {
  font-size: 4rem;
  font-family: robotoBlack;
}
header #howTo #challenge {
  font-size: 1.2rem;
  margin-bottom: 8vh;
  margin-top: 1vh;
}
header #howTo #challenge img {
  width: 30px;
}
header #howTo #seeMore {
  color: #ff3571;
  text-decoration: none;
  font-weight: bold;
}

/* BILDER COLLAGE */
#designExamples img {
  width: 100%;
  margin-bottom: 20vh;
}

/* EVERY IDEA SECTION */
#everyIdea {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
  margin-bottom: 15vh;
}
#everyIdea #lightbulb {
  font-size: 2rem;
  font-family: robotoBlack;
  font-weight: bolder;
  width: 50%;
  margin-left: 220px;
}
#everyIdea #lightbulb img {
  width: 10%;
}
#everyIdea #lightbulbText {
  line-height: 1.6rem;
  width: 60%;
  margin-right: 220px;
}

/* LEARNED A LOT SECTION */
#learnedAlot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: robotoBlack;
  font-weight: bolder;
  margin-right: 440px;
  margin-bottom: 15vh;
}

/* FOUR STEPS OF DESIGN SECTION */
#stepsDesign {
  flex-wrap: wrap;
  gap: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}
#stepsDesign article {
  height: 100px;
  width: 360px;
}
#stepsDesign article p {
  line-height: 3vh;
  font-size: 1rem;
}
#stepsDesign h2 {
  font-size: 1rem;
  font-family: robotoBlack;
  margin-bottom: 1vh;
}
#stepsDesign #lightbulbIcon::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  translate: -40px 25px;
  background: url(../img/lightbulb-icon.svg);
}
#stepsDesign #shareIcon::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  translate: -40px 25px;
  background: url(../img/share-icon.svg);
}
#stepsDesign #heartIcon::before {
  content: "";
  display: inline-block;
  background: url(../img/Heart-Icon.svg);
  width: 25px;
  height: 25px;
  translate: -40px 25px;
}
#stepsDesign #penIcon::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  translate: -40px 25px;
  background: url(../img/pen-icon.svg);
}

/* ARE YOU READY SECTION */
#areYouReady {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15vh;
}
#areYouReady h2 {
  font-size: 4rem;
  font-family: robotoBlack;
  margin-bottom: 5vh;
}
#areYouReady p {
  width: 60%;
  font-size: 1.5rem;
  margin: 0 auto;
}

/* PICTOGRAMS AND TEXT */
.pictoSection {
  display: flex;
  margin-bottom: 10vh;
}

.pictoSize {
  width: 50%;
  gap: 10px;
  margin-right: 5vw;
}

.picto_numberSize {
  color: #dddddd;
  font-size: 5rem;
  margin-bottom: 5vh;
}

.emojiSettings {
  margin-bottom: 2vh;
  width: 50px;
}

.picto_h2 {
  font-size: 1.3rem;
  font-family: robotoblack;
  margin-bottom: 1.5vh;
}

.picto_p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

/* FOOTER SECTION */
#doYouLike {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15vh;
}
#doYouLike h2 {
  font-size: 4rem;
  font-family: robotoBlack;
  margin-bottom: 3vh;
}
#doYouLike p {
  font-size: 1.6rem;
}
#doYouLike input {
  width: 35vw;
  height: 7vh;
  margin-bottom: 3vh;
  text-align: center;
  background-color: #FFF;
  color: #dddddd;
  font-size: 1.5rem;
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 10px;
  box-shadow: 2px 2px 50px 0px #dddddd;
}
#doYouLike button {
  width: 15vw;
  height: 5vh;
  border: 1px solid #FFF;
  border-radius: 5px;
  background-color: #ff3571;
  color: #FFF;
  font-size: 1.3rem;
  cursor: pointer;
}
#doYouLike button:hover {
  background: linear-gradient(90deg, rgb(255, 53, 113) 25%, rgb(72, 40, 149) 75%, rgb(60, 48, 255) 100%);
}

footer p {
  margin-bottom: 3vh;
  font-size: 1rem;
}
footer p img {
  margin-left: 1vw;
  width: 30px;
}

/* MEDIA QUERY */

/*# sourceMappingURL=style.css.map */
